.profile__add-btn {
  max-width: 150px;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #fff;
  background-image: url('../../../images/add-btn.svg');
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  padding: 0;
  margin-left: 19px;
}

@media screen and (max-width: 600px) {
  .profile__add-btn {
    max-width: 320px;
    margin: 0;
  }
}
