.popup__heading {
  width: 100%;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-align: left;
  padding: 0;
  margin: 0 0 49px;
}

@media screen and (max-width: 600px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 65px;
  }
}
