.profile__name {
  max-width: 400px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__name {
    max-width: 240px;
    font-size: 27px;
    line-height: 33px;
  }
}
