.profile__avatar {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 30px;
}

@media screen and (max-width: 600px) {
  .profile__avatar {
    margin: 0;
  }
}
