.popup__input-text {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  padding: 0 0 9px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0;
}

.popup__input-text::placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 1;
  color: #000;
}

.popup__input-text:focus {
  outline: 0;
}
